<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>EventShowCase</servlet-name>
		<servlet-class>org.uob.event.showcase.EventShowCaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventShowCase</servlet-name>
		<url-pattern>/showcase</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddEvent</servlet-name>
		<servlet-class>org.uob.event.showcase.AddEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEvent</servlet-name>
		<url-pattern>/addevent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchEvent</servlet-name>
		<servlet-class>org.uob.event.showcase.SearchEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchEvent</servlet-name>
		<url-pattern>/searchevent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewEvent</servlet-name>
		<servlet-class>org.uob.event.showcase.ViewEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewEvent</servlet-name>
		<url-pattern>/viewevent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserBookings</servlet-name>
		<servlet-class>org.uob.event.showcase.UserBookingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserBookings</servlet-name>
		<url-pattern>/booking</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserEvents</servlet-name>
		<servlet-class>org.uob.event.showcase.UserEventsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEvents</servlet-name>
		<url-pattern>/myevents</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EventBookings</servlet-name>
		<servlet-class>org.uob.event.showcase.EventBookingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventBookings</servlet-name>
		<url-pattern>/eventbooking</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddPhoto</servlet-name>
		<servlet-class>org.uob.event.showcase.AddPhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPhoto</servlet-name>
		<url-pattern>/addphoto</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BookingPost</servlet-name>
		<servlet-class>org.uob.event.showcase.BookingPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingPost</servlet-name>
		<url-pattern>/bookingpost</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CommentPost</servlet-name>
		<servlet-class>org.uob.event.showcase.CommentPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentPost</servlet-name>
		<url-pattern>/commentpost</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadHandlerServlet</servlet-name>
		<servlet-class>org.uob.event.showcase.UploadHandlerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadHandlerServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>org.uob.event.showcase.DownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>org.uob.event.showcase.PhotoEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AboutServlet</servlet-name>
		<servlet-class>org.uob.event.showcase.AboutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AboutServlet</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ContactServlet</servlet-name>
		<servlet-class>org.uob.event.showcase.ContactServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DailyReportServlet</servlet-name>
		<servlet-class>org.uob.event.showcase.DailyReportServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DailyReportServlet</servlet-name>
		<url-pattern>/dailyreport</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>showcase.jsp</welcome-file>
	</welcome-file-list>
</web-app>
